.personalBadgeContainer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 2rem;
  width: 15rem;
  height: 5rem;
  z-index: 5;
  border-radius: 1rem;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transform: translate3d(0, 0, 0);
  & a {
    font-weight: 700;
    color: #000;
    transition: 0.15s color ease-in-out;
    &:hover {
      color: rgb(87, 83, 83);
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
